*{
  user-select: none;
}

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.page-content {
  padding: 10 20
}

.csHeight {
  height: 100%;
}

.marginRight50 {
  margin-right: 50px !important;
}

.marginRight100pc {
  margin-right: 100% !important;
}

textarea {
  resize: none !important;
}

.csColor {
  background-color: #00b8d0 !important;
}

.csButtonColor {
  background-color: #54dde9 !important;
}

.marginTop20 {
  margin-top: 20px !important;
}

.marginTopMin20 {
  margin-bottom: -20px !important;
}

.buttonStyle {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}